/*styles.css*/
/* STYLES */
.feedcard {
    display: flex;
    flex-direction: column;
    width: 375px;
    border-bottom: #6a716e4e solid 1px;
}
.row {
    display: flex;
    flex-direction: row;
    height: 58px;
    padding: 10px 16px 0px;
}
.avatar {
    margin-right: 12px;
}
.avatar img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}
.row-text {
    display: flex;
    flex-direction: column;
    padding-top: 4px;
}
.author {
    height: 22px;
    font-size: 16px;
}
.date {
    height: 16px;
    width: auto;
    font-size: 12px;
}
.image {
    width: 343px;
	padding: 0px 16px;
}
.kicker {
    padding: 16px 16px 0px;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #6A716E;
}
.title {
    padding: 1px 16px;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    color: #111C18;
}
.comment {
	padding: 1px 16px 0px;
    font-size: 14px;
    font-family: 'Satoshi';
    font-weight: 400;
    color: #111C18;
}
.social {
    padding: 16px;
}
.social-icon {
    height: 16px;
    width: 16px;
    float: left;
    margin-right: 5px;
}
.social-count {
    float: left;
    height: 16px;
    margin-right: 10px;
    font-size: 12px;
    align-content: center;
}